<!--指数商品库-->
<div class="popWhite"   >
    <div class="css-content" m-custom-scrollbar  ng-form="goodsDetail_form">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td  class="name name-height">项目名称</td>
                <td  class="value">
                    <input ng-class="{true:'warn',false:''}[goodsDetail_form.name.$error.required]"
                           required maxlength="50" type="text" ng-model="vm.goodsDetail.name"  name="name"  />
                </td>
                <td  class="name name-height">外部编码</td>
                <td  class="value" >
                    <input required maxlength="50" name="goods_type_name" type="text" readonly ng-model="vm.goods_type_name"/>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="popBottom">
        <span class="btn2" ng-click="vm.cancelOp()" ng-if="vm.htmlType=='view'" >关闭</span>
        <span class="btn2" ng-click="vm.saveInfo()" ng-if="vm.htmlType=='edit' || vm.htmlType=='add'">保存</span>
        <span class="btn1" ng-click="vm.cancelOp()" ng-if="vm.htmlType=='edit' || vm.htmlType=='add'">取消</span>
    </div>
</div>