<!--药品库-->
<div class="popWhite"   >
    <div class="css-content" m-custom-scrollbar  ng-form="goodsDetail_form">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td  class="name name-height">通用名</td>
                <td class="value" >
                    <input required type="text" ng-class="{true:'warn',false:''}[goodsDetail_form.alias.$error.required]"
                           ng-model="vm.goodsDetail.alias" name="alias"/>
                </td>

                <td  class="name name-height">剂型</td>
                <td  class="value" >
                    <input required maxlength="50" ng-class="{true:'warn',false:''}[goodsDetail_form.dosage.$error.required]"
                           name="dosage" type="text" ng-model="vm.goodsDetail.dosage"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">规格等级</td>
                <td  class="value">
                    <input  maxlength="50" name="spec" required
                           ng-class="{true:'warn',false:''}[goodsDetail_form.spec.$error.required]"
                           type="text" ng-model="vm.goodsDetail.spec"/>
                </td>
                <td  class="name name-height">计量单位</td>
                <td  class="value" >
                    <input  maxlength="50" name="measurement_unit" required
                           ng-class="{true:'warn',false:''}[goodsDetail_form.measurement_unit.$error.required]"
                           type="text" ng-model="vm.goodsDetail.measurement_unit"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">药品编码</td>
                <td  class="value">
                    <input  maxlength="50" name="goods_code" required
                           ng-class="{true:'warn',false:''}[goodsDetail_form.goods_code.$error.required]"
                           type="text" ng-model="vm.goodsDetail.goods_code"/>
                </td>
                <td  class="name name-height">厂商</td>
                <td class="value" >
                    <input type="text" ng-class="{true:'warn',false:''}[goodsDetail_form.origin_company.$error.required]" required
                           ng-model="vm.goodsDetail.origin_company" name="origin_company"/>
                </td>



            </tr>
            </tbody>
        </table>
        <table>
            <tbody>
            <tr>
                <td  class="name name-height">商品名称</td>
                <td  class="value">
                    <input  maxlength="50" type="text" ng-model="vm.goodsDetail.name"  name="name"  />
                </td>
                <td  class="name name-height">药品类别</td>
                <td class="value" >
                    <input type="text" ng-model="vm.goods_type_name" name="goods_type_name"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">药品属性</td>
                <td class="value" >
                    <div class="chosen_div" >
                        <select  ng-model="vm.goodsDetail.goods_properties"  class="sel_sel_zzy"
                                 ng-chosen
                                 ng-chosen-data="vm.drug_nature"
                                 ng-options="n.id as n.chinaname for n in vm.drug_nature" >
                            <option ng-chosen-option></option>
                        </select>
                    </div>
                </td>
                <td  class="name name-height">转换比</td>
                <td class="value" >
                    <input type="text"   ng-model="vm.goodsDetail.conversion_ratio" name="conversion_ratio"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">准字号</td>
                <td class="value" >
                    <input type="text"  ng-model="vm.goodsDetail.quasi_word" name="quasi_word"/>
                </td>
                <td  class="name name-height">医保编码</td>
                <td class="value" >
                    <input type="text"  ng-model="vm.goodsDetail.medical_insurance_code" name="medical_insurance_code"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">条形码</td>
                <td class="value" >
                    <input type="text"  ng-model="vm.bar_code" name="bar_code"/>
                </td>
                <td  class="name name-height">状态</td>
                <td class="value" >
                    <select  ng-model="vm.goodsDetail.delstatus" class="sel_sel_zzy">
                        <option selected value="0">启用</option>
                        <option value="1">停用</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">用途</td>
                <td class="value" colspan="3">
                    <textarea class="remarks" ng-model="vm.goodsDetail.use_for" name="use_for"></textarea>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">备注</td>
                <td class="value" colspan="3">
                    <textarea class="remarks" ng-model="vm.goodsDetail.remark" name="remark"></textarea>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">商品图片</td>
                <td class="value" colspan="3">
                    <div class="fileListDiv"
                         attach-file-list
                         attach-file-list-init-options="vm.fileInitOptions"
                         attach-file-list-load-options="vm.fileLoadOptions"
                    ></div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="popBottom">
        <span class="btn2" ng-click="vm.cancelOp()" ng-if="vm.htmlType=='view'" >关闭</span>
        <span class="btn2" ng-click="vm.saveInfo()" ng-if="vm.htmlType=='edit' || vm.htmlType=='add'">保存</span>
        <span class="btn1" ng-click="vm.cancelOp()" ng-if="vm.htmlType=='edit' || vm.htmlType=='add'">取消</span>
    </div>
</div>