<div class="popWhite">
    <div class="css-content" ng-form="notice_form">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td class="name name-height" style="width: 14%">标题</td>
                <td colspan="3" class="value">
                    <input maxlength="50"
                           type="text" ng-model="vm.notice.title" name="title" placeholder="请输入标题"
                           ng-readonly="vm.is_view"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height" style="width: 14%">通知内容</td>
                <td class="value" colspan="3">
                    <textarea
                            class="remarks"
                            ng-model="vm.notice.content" name="content" ng-readonly="vm.is_view"></textarea>
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    <div class="fileListDiv"
                         attach-file-list
                         attach-file-list-init-options="vm.fileInitOptions"
                         attach-file-list-load-options="vm.fileLoadOptions"
                    ></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="popBottom">
        <span class="btn1" ng-click="vm.cancelOp()">关闭</span>
    </div>
</div>