<div class="popWhite">
    <div class="css-content">
        <div class="dom-left" style="top: 40px;bottom: 53px;right: 60%;">
            <div class="div-tool-seach" style="height: 45px">
                <div style="float: left">菜单</div>
            </div>
            <div class="content-left" style="top: 45px;" m-custom-scrollbar>
                <ul ztree id="shortcutSelectTree" class="ztree" z-params="shortcutSelectParams"></ul>
            </div>
        </div>
        <div class="dom-right" style="top: 40px;bottom: 53px;left: 40%;">
            <div class="div-tool-seach" style="height: 45px">
                <div id="content-title" style="float: left">已选菜单</div>
                <div style="left: 40%;position: absolute;width: 60%;">
                    <div class="value">
                        <input maxlength="50" type="text" ng-change="searchShortcutShowList()"
                               ng-model="shortcutShowKeyword"/>
                        <i class="searchOp" ng-click="selectShortcut()"></i>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="query-list" style="top: 5px;">
                    <div id="query_nothing" class="nothing nothingTop"
                         ng-show="!!!shortcutSelectShowList||shortcutSelectShowList.length==0">
                        <span></span>暂无数据
                    </div>
                    <div class="table-tbody" m-custom-scrollbar style="top: 0px; bottom: 0px;">
                        <table id="query-list-panel" cellpadding="0" cellspacing="0" style="table-layout: fixed"
                               ng-hide="!!!shortcutSelectShowList||shortcutSelectShowList.length==0">
                            <tbody>
                            <tr ng-repeat="n in shortcutSelectShowList track by $index" ng-class-even="'bgcolor'">
                                <td width="5%">{{ $index + 1 }}</td>
                                <td width="65%" style="text-align: left">&nbsp;&nbsp;{{n.name}}</td>
                                <td width="15%">
                                    <span class="modify" ng-click="removeNode(n)">[移除]</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="popBottom">
        <span class="btn2" ng-click="saveSelectOp()">确认</span>
        <span class="btn1" ng-click="cancelOp()">取消</span>
    </div>
</div>