<div class="table_tip_zzy">
    <div class="table_tip_btn_zzy">
        <a href="javascript:;" ng-click="vm.addTrend()">确定</a>
    </div>
    <div class="clear"></div>
</div>
<div class="select_b_zzy ">
    <div class="leftSel_table_zzy " ng-class="{true:'up',false:'over_hide2'}[vm.advSearch]" ng-form="masterplate_form">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="name name-height" style="width: 10%">模版名称:</td>
                <td class="value" style="width: 40%">
                    <input ng-class="{true:'warn',false:''}[masterplate_form.masterplate_name.$error.required]" required
                           maxlength="50"
                           type="text" ng-model="vm.masterplate.masterplate_name" name="masterplate_name"
                           placeholder="请输入模版名称"
                           ng-readonly="vm.is_view"/>
                </td>
                <td class="name name-height" style="width: 10%">模版类型:</td>
                <td class="value" style="width: 40%">
                    <div class="chosen_div"
                         ng-class="{true:'warn',false:''}[masterplate_form.masterplate_type.$invalid]">
                        <select ng-model="vm.masterplate.masterplate_type" name="masterplate_type"
                                ng-disabled="vm.is_view" required
                                ng-chosen ng-chosen-data="vm.masterplatetypeCatagory"
                                ng-options="n.id as n.chinaname for n in vm.masterplatetypeCatagory">
                            <option value="">==请选择==</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="name name-height" style="width: 10%">添加品类</td>
                <td colspan="3" class="value">
                    <span class="btn2" ng-click="vm.addClass()">添加</span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="popupBg" style="display: none">
    <div class="popup_container6_zzy">
        <div class="popup_title">
            <span>新增品类</span>
            <a class="popup_close" href="javascript:;" ng-click="vm.closePop()"></a>
        </div>
        <div class="popup_body padding0">
            <div class="popup_content popup_content2_zzy">
                <div class="select_b_zzy2 ">
                    <div class="leftSel_table_zzy ">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="16.2%" class="txt">品类名称：</td>
                                <td width="33.8%">
                                    <input type="text" class="sel_ipt_zzy sel_ipt_zzy_c"
                                           maxlength="50"
                                           ng-model="vm.class_name" name="class_name"
                                           placeholder="请输入品类名称"
                                           ng-class="{true:'warn',false:''}[class_form.class_name.$error.required]"
                                           required/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="popup_footer popup_footer_zzy">
                <a href="javascript:;" class="delete" ng-click="vm.closePop()">取消</a>
                <a href="javascript:;" ng-click="vm.saveClass()">保存</a>
            </div>
        </div>
    </div>
</div>

<div m-custom-scrollbar ng-repeat="n in vm.classList track by $index">
    <table>
        <tr>
            <td width="10%" ng-click="vm.delClass(n)">删除</td>
            <td>品类{{$index + 1}}:</td>
            <td class="value">
                <input ng-class="{true:'warn',false:''}[trend_form.name.$error.required]" required
                       maxlength="25"
                       type="text" ng-model="n.class_name" name="class_name"
                       placeholder=""
                       ng-readonly="vm.is_view"/>
            </td>
            <td width="10%">
                <span class="btn2" ng-click="vm.addMasterplateGoods(n)">添加品种</span>
            </td>
        </tr>
        <tr>
            <td width="20%" class="tds">品种名称</td>
            <td width="20%" class="tds">规格等级</td>
            <td width="15%" class="tds">计量单位</td>
            <td width="15%" class="tds">价格形式</td>
            <td width="20%" class="tds">数据来源</td>
            <td width="10%" class="tds">操作</td>
        </tr>
        <tr ng-repeat="nn in n.goodsList track by $index" ng-class-even="'bgcolor'"
            ng-class="{'false':'','true':'selected'}[nn.selected]">
            <td width="20%" class="word_space" style="text-align: left">&nbsp;&nbsp;{{nn.goods_name}}</td>
            <td width="20%">{{nn.spec}}</td>
            <td width="15%">{{nn.measurement_unit}}</td>
            <td width="15%">{{nn.price}}</td>
            <td width="20%">{{nn.table_name}}</td>
            <td width="10%">
                <a href="javascript:;" class="table_main1_a" ng-click="vm.deleteMaterial(n)">删除</a>
            </td>
        </tr>
    </table>

</div>

<style>
    .tds {
        border: 1px solid #d5dae0;
        background: #eef1f5;
        text-align: center;
        color: #2b323d;
        height: 42px;
        font-size: 14px;
    }
</style>