<div class="popWhite" >
    <div class="css-content" ng-form="category_detail_form" style="padding: 5px;">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td  class="name name-height">中文名</td>
                <td class="value">
                    <input ng-class="{true:'warn',false:''}[category_detail_form.chinaname.$error.required]" ng-focus required maxlength="120" type="text" ng-model="vm.categoryDetailInfo.chinaname"  name="chinaname"/>
                </td>
                <td  class="name name-height">常量标识</td>
                <td class="value">
                    <input ng-class="{true:'warn',false:''}[category_detail_form.constname.$error.required]" ng-focus required maxlength="25" type="text" ng-model="vm.categoryDetailInfo.constname"  name="constname"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">排序号</td>
                <td class="value">
                    <input ng-focus required maxlength="10" ng-class="{true:'warn',false:''}[category_detail_form.sortindex.$error.required]" type="number" ng-model="vm.categoryDetailInfo.sortindex"  name="sortindex"/>
                </td>
                <td colspan="2" class="value">

                </td>
            </tr>
            <tr>
                <td  class="name name-height">字符型属性1</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extchar1name"  name="extchar1name"/>
                </td>
                <td  class="name name-height">字符型属性2</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extchar2name"  name="extchar2name"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">字符型属性3</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extchar3name"  name="extchar3name"/>
                </td>
                <td  class="name name-height">字符型属性4</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extchar4name"  name="extchar4name"/>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">数字型属性1</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extint1name"  name="extint1name"/>
                </td>
                <td  class="name name-height">数字型属性1引用</td>
                <td class="value">
                    <select ng-model="vm.categoryDetailInfo.extint1categoryid" name="extint1categoryid"
                            ng-options="n.id as n.chinaname for n in allCategory">
                        <option value="">---请选择---</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">数字型属性2</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extint2name"  name="extint2name"/>
                </td>
                <td  class="name name-height">数字型属性2引用</td>
                <td class="value">
                    <select ng-model="vm.categoryDetailInfo.extint2categoryid" name="extint2categoryid"
                            ng-options="n.id as n.chinaname for n in allCategory">
                        <option value="">---请选择---</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">数字型属性3</td>
                <td class="value">
                    <input maxlength="50" type="text" ng-model="vm.categoryDetailInfo.extint3name"  name="extint3name"/>
                </td>
                <td  class="name name-height">数字型属性3引用</td>
                <td class="value">
                    <select ng-model="vm.categoryDetailInfo.extint3categoryid" name="extint3categoryid"
                            ng-options="n.id as n.chinaname for n in allCategory">
                        <option value="">---请选择---</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td  class="name name-height">备注</td>
                <td class="value" colspan="3">
                    <textarea maxlength="500" class="remarks" ng-model="vm.categoryDetailInfo.remark" name="remark" style="font-family: 微软雅黑"></textarea>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="popBottom">
        <span class="btn2" ng-click="vm.saveOp()" >保存</span>
        <span class="btn1" ng-click="vm.cancelOp()">取消</span>
    </div>
</div>

<style>
    .css-content table tbody .name{
        padding: 0 5px;
    }
    span.needColumn{
        color: #ff3d3d;
        display: inline-block !important;
        width: 8px;
        height: 15px;
        line-height: 15px;
        margin: 0;
        position: relative;
        top: 3px;
        text-align: center;
    }
</style>