<!--修改监测机构-->
<div class="popWhite" ng-show="vm.showType=='monitor'" >
    <div class="css-content" ng-form="monitor_form" m-custom-scrollbar>
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td class="name name-height">机构名称</td>
                <td class="value">
                    <input required maxlength="50" type="text" ng-model="vm.deptInfo.chinaname"
                           name="chinaname" ng-disabled="vm.editFlag == 'view'"
                           ng-class="{true:'warn',false:''}[monitor_form.chinaname.$error.required]"/>
                </td>
                <td class="name name-height">性质</td>
                <td class="value">
                    <input  type="text" ng-if="vm.editFlag == 'view'" disabled
                            ng-model="vm.dept_properties_text" name="chinaname"/>
                    <div class="chosen_div" ng-if="vm.editFlag != 'view'">
                        <select ng-model="vm.deptInfo.dept_properties" name="dept_properties" required
                                class="sel_sel_zzy"
                                ng-class="{true:'warn',false:''}[monitor_form.dept_properties.$error.required]"
                                ng-chosen
                                ng-chosen-data="vm.deptProperty"
                                ng-options="n.id as n.chinaname for n in vm.deptProperty">
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="name name-height">邮编</td>
                <td class="value">
                    <input maxlength="6" type="text" disabled
                           ng-model="vm.deptInfo.zip_code" name="zip_code"/>
                </td>
                <td class="name name-height">地址</td>
                <td class="value">
                    <input maxlength="50" type="text" disabled
                           ng-model="vm.deptInfo.address" name="address"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height">区域</td>
                <td class="value">
                    <input type="text" readonly ng-model="vm.deptInfo.area_name"
                           name="area" required ng-disabled="vm.editFlag == 'view'"
                           ng-class="{true:'warn',false:''}[monitor_form.area.$error.required]"/>
                    <i class="selectOp " ng-click="vm.selectAreaInfo()"></i>
                </td>
                <td class="name name-height">编制人数</td>
                <td class="value">
                    <input maxlength="10" type="text" disabled
                           ng-model="vm.deptInfo.person_num" name="person_num"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height">社会信用代码</td>
                <td class="value">
                    <input maxlength="50" type="text" disabled
                           ng-model="vm.deptInfo.credit_code" name="credit_code"/>
                </td>
                <td class="name name-height">负责人</td>
                <td class="value">
                    <input maxlength="50" type="text" disabled
                           ng-model="vm.deptInfo.leader_name" name="leader_name"/>
                    <i class="selectOp"></i>
                </td>
            </tr>
            <tr>
                <td class="name name-height">传真</td>
                <td class="value">
                    <input maxlength="13" type="text" disabled
                           ng-model="vm.deptInfo.fax" name="fax"/>
                </td>
                <td class="name name-height">移动预警电话</td>
                <td class="value">
                    <input maxlength="11" type="text" ng-model="vm.deptInfo.warning_mobile"
                           name="warning_mobile" disabled/>
                </td>
            </tr>
            <tr>
                <td class="name name-height">固定预警电话</td>
                <td class="value">
                    <input maxlength="13" type="text" ng-model="vm.deptInfo.warning_telephone"
                           name="warning_telephone" disabled/>
                </td>
                <td class="name name-height">是否启用</td>
                <td class="value">
                    <input disabled type="text" ng-model="vm.deptStatus_text"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height">是否独办公</td>
                <td class="value">
                    <input disabled type="text" ng-model="vm.isIndependentOffice"/>
                </td>
                <td class="name name-height" ng-if="!vm.deptInfo.is_independent_office||vm.deptInfo.is_independent_office != 0"></td>
                <td class="value" ng-if="!vm.deptInfo.is_independent_office||vm.deptInfo.is_independent_office != 0">
                </td>
                <td class="name name-height" ng-if="vm.deptInfo.is_independent_office && vm.deptInfo.is_independent_office == 0">合署办公单位</td>
                <td class="value" ng-if="vm.deptInfo.is_independent_office && vm.deptInfo.is_independent_office == 0">
                    <input disabled type="text" name="union_dept_name" ng-model="vm.deptInfo.union_dept_name"/>
                </td>
            </tr>
            <tr>
                <td colspan="4" >
                    <div class="fileListDiv"
                         attach-file-list
                         attach-file-list-init-options="vm.fileInitOptions"
                         attach-file-list-load-options="vm.fileLoadOptions"
                    ></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="popBottom" ng-show="vm.editFlag != 'view'">
        <span class="btn2" ng-click="vm.saveDeptInfo('monitor')">保存</span>
    </div>
</div>

<!-- 部门 -->
<div class="popWhite" ng-show="vm.showType=='dept'">
    <div class="css-content" ng-form="dept_form">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td class="name name-height">部门名称</td>
                <td class="value">
                    <input required maxlength="50" type="text" ng-model="vm.deptInfo.chinaname"
                           name="chinaname" disabled/>
                </td>
                <td class="name name-height">性质</td>
                <td class="value">
                    <input  type="text" disabled ng-model="vm.dept_properties_text" name="chinaname"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height">区域</td>
                <td class="value">
                    <input type="text" ng-model="vm.deptInfo.area_name"
                           name="area" disabled/>
                    <i class="selectOp "></i>
                </td>
                <td class="name name-height">部门负责人</td>
                <td class="value">
                    <input  maxlength="50" type="text" disabled
                           ng-model="vm.deptInfo.leader_name" name="leader_name"/>
                    <i class="selectOp "></i>
                </td>
            </tr>
            <tr>
                <td class="name name-height">所属单位</td>
                <td class="value">
                    <input maxlength="50" disabled type="text" name="parent"
                           ng-model="vm.deptInfo.parent_name"/>
                </td>
                <td class="name name-height">是否启用</td>
                <td class="value">
                    <input disabled type="text" ng-model="vm.deptStatus_text"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 暂无数据 -->
<div class="popWhite" ng-show="vm.showType=='noDate'">
    <div class="css-content nothing nothingTop">
        <span></span>暂无数据
    </div>
</div>