<div class="select_b_zzy ">
    <div class="leftSel_table_zzy over_hide" >
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="10.6%" class="txt">词组名称：</td>
                <td width="17.9%">
                    <input type="text" class="sel_ipt_zzy" name="name" placeholder="请输入词组名称关键字" ng-model="vm.searchParams.name"/>
                </td>

                <td width="10.6%" class="txt">关键字：</td>
                <td width="17.9%">
                    <input type="text" class="sel_ipt_zzy" name="name" placeholder="请输入监测方案关键字" ng-model="vm.searchParams.name"/>
                </td>

                <td width="10.6%" class="txt">状态：</td>
                <td width="17.9%">
                    <div class="chosen_div" >
                        <select class="sel_sel_zzy" ng-model="vm.searchParams.delstatus"
                                ng-chosen
                                ng-chosen-data="vm.delstatus"
                                ng-options="n.id as n.chinaname for n in vm.delstatus" >
                            <option ng-chosen-option></option>
                        </select>
                    </div>
                </td>
                <td class="left">
                    <a href="javascript:;" class="sel_btn_zzy" ng-click="vm.getList()">查询</a>
                    <a href="javascript:;" class="reSet_btn_zzy" ng-click="vm.clearAll()">重置</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="table_box_zzy">
    <div class="table_tip_zzy" style="left: 0px;">
        <div class="table_tip_btn_zzy">
            <a href="javascript:;">打印</a>
            <a href="javascript:;">导出</a>
            <a href="javascript:;" ng-click="vm.openScheme()">新增</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="table_head_zzy marginB2">
        <table>
            <tr>
                <td width="5%">序号</td>
                <td width="25%">词组名称</td>
                <td width="40%">关键字</td>
                <td width="30%">操作</td>
            </tr>
        </table>
    </div>
    <div class="table_main_zzy" m-custom-scrollbar >
        <table>
            <tr ng-repeat="n in vm.signList track by $index" ng-class-even="'bgcolor'"
                ng-class="{'false':'','true':'selected'}[n.selected]">
                <td width="5%">{{ $index + 1+ (vm.currentPageInf.pageNumber-1)*vm.currentPageInf.pageSize }}</td>
                <td width="25%" style="cursor:pointer;text-align: left" ng-click="vm.turnDataListPage(n)">&nbsp;&nbsp;{{n.chinaname}}</td>
                <td width="40%" style="text-align: left">{{n.site_name}}</td>
                <td width="30%">
                    <a href="javascript:;" class="table_main1_a" style="border: 0px solid #d5dae0;text-decoration: underline;" ng-click="vm.editStatus(n)">停用</a>
                    <a href="javascript:;" class="table_main1_a" style="border: 0px solid #d5dae0;text-decoration: underline;" ng-click="vm.editInfo(n)">修改</a>
                    <a href="javascript:;" class="table_main1_a" style="border: 0px solid #d5dae0;text-decoration: underline;" ng-click="vm.deleteInfo(n)">删除</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-tfoot">
        <div class="table_page">
            <div ng-turn-page="vm.signListPage" turn-page-fn="vm.getList"></div>
        </div>
    </div>
</div>