
<div class="table_head_zzy  table_head_zzy2 padding5">
    <div class="table_big_tit">
        <p class="table_big_tit1">江苏省城市居民服务价格监测表</p>
        <p class="table_big_tit2">采价日期：2018-05-20</p>
    </div>
    <div class="table_head_zzy font-14 marginB2">
        <table>
            <tr>
                <td  rowspan="4" class="bold" width="13.3%">商品名称</td>
                <td rowspan="4" class="bold" width="18%">规格等级</td>
                <td rowspan="4" class="bold" width="8.5%">计量单位</td>
                <td rowspan="2" class="bold" width="6.1%">全省平均</td>
                <td colspan="6" class="bold">南京市</td>
                <td colspan="6" class="bold">苏州市</td>

            </tr>
            <tr>
                <td colspan="3">南京市公交公司</td>
                <td colspan="3">南京市长途客运公司</td>
                <td colspan="3">南京市公交公司</td>
                <td colspan="3">南京市长途客运公司</td>
            </tr>
            <tr>
                <td>价格</td>
                <td colspan="2">价格</td>
                <td rowspan="2">备注</td>

                <td colspan="2">价格</td>
                <td rowspan="2">备注</td>

                <td colspan="2">价格</td>
                <td rowspan="2">备注</td>

                <td colspan="2">价格</td>
                <td rowspan="2">备注</td>
            </tr>
            <tr>
                <td >本期</td>
                <td width="5.6%">上期 <br><span class="color999">4月20号</span></td>
                <td width="4%">本期</td>
                <td width="5.6%">上期 <br><span class="color999">4月20号</span></td>
                <td width="4%">本期</td>
                <td width="5.6%">上期 <br><span class="color999">4月20号</span></td>
                <td width="4%">本期</td>
                <td width="5.6%">上期 <br><span class="color999">4月20号</span></td>
                <td width="4%">本期</td>
            </tr>
        </table>
    </div>

</div>
<div class="table_main_zzy table_main3_zzy" style="margin-top: 200px">
    <table>
        <tr class="black ">
            <td colspan="16" class="bold left">
                1、交通运输
            </td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math red">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
        <tr>
            <td class="left">出租汽车价格</td>
            <td class="left">普通出租车每公里加价</td>
            <td class="left">元/公里</td>
            <td><a href="javascript:;" class="table_math">1.91</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math red">2.5</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
        <tr>
            <td class="left">出租汽车价格</td>
            <td class="left">普通出租车每公里加价</td>
            <td class="left">元/公里</td>
            <td><a href="javascript:;" class="table_math">1.91</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math green">2.5</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math green">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
        <tr>
            <td class="left">出租汽车价格</td>
            <td class="left">普通出租车每公里加价</td>
            <td class="left">元/公里</td>
            <td><a href="javascript:;" class="table_math">1.91</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math ">2.5</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a ng-click="vm.yd(n)" class="table_math">22.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a ng-click="vm.price(n)" class="table_math">102.4</a></td>
            <td></td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
        <tr class="black ">
            <td colspan="16" class="bold left">
                2、房租、水电、燃料
            </td>
        </tr>
        <tr>
            <td class="left">出租汽车价格</td>
            <td class="left">普通出租车每公里加价</td>
            <td class="left">元/公里</td>
            <td><a href="javascript:;" class="table_math">1.91</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math ">2.5</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
        <tr>
            <td class="left">出租汽车价格</td>
            <td class="left">普通出租车每公里加价</td>
            <td class="left">元/公里</td>
            <td><a href="javascript:;" class="table_math">1.91</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math ">2.5</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td><a href="javascript:;" class="table_math">2.4</a></td>
            <td></td>
        </tr>
        <tr >
            <td width="13.3%" class="left">公交汽车IC卡</td>
            <td width="18%" class="left">市区.普通卡</td>
            <td width="8.5%" class="left">元/人</td>
            <td width="6.1%"><a href="javascript:;" class="table_math">0.88</a></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.9</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
            <td width="5.6%"><a href="javascript:;" class="table_math">0.8</a></td>
            <td width="4%"><a href="javascript:;" class="table_math ">0.8</a></td>
            <td></td>
        </tr>
    </table>
</div>


</div>
<div class="inspect_a" style="margin-top: 31%">
    <a href="javascript:;" >通过</a>
    <a class="inspect_a_green" ng-click="vm.addbatch(n,'edit')">退回</a>
    <a href="javascript:;" >打印</a>
</div>
