<div class="popWhite">
    <div class="css-content" m-custom-scrollbar ng-form="material_form">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td class="name name-height" style="width: 10%">材料名称</td>
                <td colspan="3" class="value">
                    <input ng-class="{true:'warn',false:''}[material_form.material_name.$error.required]" required
                           maxlength="50"
                           type="text" ng-model="vm.material.material_name" name="material_name" placeholder="请输入材料名称"
                           ng-readonly="vm.is_view"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height" style="width: 10%">撰稿人姓名</td>
                <td class="value">
                    <input ng-class="{true:'warn',false:''}[material_form.write_user_name.$error.required]" required
                           maxlength="50"
                           type="text" ng-model="vm.material.write_user_name" name="write_user_name"
                           placeholder="请输入撰稿人姓名"
                           ng-readonly="vm.is_view"/>
                </td>
                <td class="name name-height" style="width: 10%">撰稿时间</td>
                <td class="value">
                    <input ng-class="{true:'warn',false:''}[material_form.write_time.$error.required]" required
                           maxlength="50" ng-date="yyyy-MM-dd" class="Wdate"
                           ng-model="vm.material.write_time" name="write_time" placeholder="请输入撰稿时间"
                           ng-disabled="vm.is_view"/>
                </td>
            </tr>
            <tr>
                <td class="name name-height" style="width: 10%">撰稿人单位</td>
                <td class="value">
                    <input ng-class="{true:'warn',false:''}[material_form.write_user_unitname.$error.required]" required
                           maxlength="50" ng-click="vm.selectDept()"
                           type="text" ng-model="vm.material.write_user_unitname" name="write_user_unitname"
                           placeholder="请输入撰稿人单位"
                           ng-readonly="vm.is_view"/>
                </td>
                <td class="name name-height" style="width: 10%">材料类型</td>
                <td class="value">
                    <div class="chosen_div" ng-class="{true:'warn',false:''}[material_form.clattachtype.$invalid]"
                         style="width: 45%;float: left">
                        <select ng-model="vm.material.clattachtype" name="clattachtype" ng-change="vm.clattachtypeOp()"
                                ng-disabled="vm.is_view" required
                                ng-chosen ng-chosen-data="vm.clattachtypeCatagory"
                                ng-options="n.id as n.chinaname for n in vm.clattachtypeCatagory">
                            <option value="">==请选择==</option>
                        </select>
                    </div>
                    <div style="width: 8%;text-align: center;float: left">&nbsp;-&nbsp;</div>
                    <div class="chosen_div" ng-class="{true:'warn',false:''}[material_form.clattach_sub_type.$invalid]"
                         style="width: 45%;float: right">
                        <select ng-model="vm.material.clattach_sub_type" name="clattach_sub_type"
                                ng-disabled="vm.is_view" required
                                ng-chosen ng-chosen-data="vm.clattach_sub_typeCatagory"
                                ng-options="n.id as n.chinaname for n in vm.clattach_sub_typeCatagory">
                            <option value="">==请选择==</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="popBottom">
        <span class="table_main1_a" ng-click="vm.saveMaterial(1)" ng-if="!vm.is_view">保存</span>
        <span class="table_main1_a" ng-click="vm.saveMaterial(2)" ng-if="!vm.is_view">提交</span>
        <span class="table_main1_a" ng-click="vm.cancelOp()">取消</span>
    </div>
</div>