.picshow_bg{
    display: none;
    position:absolute;
    z-index: 9800;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000000;
    filter:alpha(opacity=30);
    opacity: 0.3;
}
.picshow{
    display: none;
    position:absolute;
    z-index: 9801;
    left:50%;
    top:50%;
    margin:-306px 0px 0px -444px;
    width:888px;
    height:612px;
    background:#FFFFFF;
    border:#7a7a7b 1px solid;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family:times new roman, serif,"����";
    -webkit-box-shadow: #7a7a7b 0px 0px 3px;
    -moz-box-shadow: #7a7a7b 0px 0px 3px;
    box-shadow: #7a7a7b 0px 0px 3px;
}
.picshow .title{
    height:49px;
    height: 49px;
    margin: 0px;
    background: none;
    line-height: normal;
    text-align: left;
    font-family: times new roman, serif,"微软雅黑";
    font-size: 14px;
    color: #333333;
}
.picshow .title .tit_r{
    float:right;
    margin:10px 10px 0px 0px;
    position: absolute;
    /*width: 259px;*/
    width: auto;
    height: 29px;
    top: 0px;
    right: 0px;
}
.picshow .title .tit_r .tit_01{
    margin-left:4px;
    float:right;
}
.picshow .title .tit_r .tit_01_close{
    width: 43px;
}
.picshow .title .tit_r .tit_01_whirl{
    width: 43px;
}
.picshow .title .tit_r .tit_01_reset{
    width: 73px;
}
.picshow .title .tit_r .tit_01_scale{
    width: 84px;
}
.tit_01 div,.tit_01 img{
    background:url(../../images/picShow/active_02.png) repeat-x center top;
    height:29px;
    line-height:29px;
    color:#666666;
    font-size:13px;
    float:right;
    font-family:"����";
    cursor:pointer;
}

.picshow .title .tit_r .tit_01 .tit_close{
    background:url(../../images/picShow/active_06.png) no-repeat center top;
    height: 29px;
    width: 43px;
    cursor: pointer;
}

.picshow .title .tit_r .tit_01_down{
    width: 43px;
}
.picshow .title .tit_r .tit_01 .tit_down{
    background:url(../../images/picShow/active_07.png) no-repeat center top;
    height: 29px;
    width: 43px;
    cursor: pointer;
}

.picshow .title .tit_r .tit_01 .tit_whirl{
    background:url(../../images/picShow/active_05.png) no-repeat center top;
    height: 29px;
    width: 43px;
    cursor: pointer;
}

.picshow .title .tit_r .tit_01 .tit_reset{
    background:url(../../images/picShow/active_04.png) no-repeat center top;
    height: 29px;
    width: 73px;
    cursor: pointer;
}

.picshow .title .tit_r .tit_01 .tit_enlarge{
    background:url(../../images/picShow/active_03.png) no-repeat center top;
    height: 29px;
    width: 28px;
    cursor: pointer;
}
.picshow .title .tit_r .tit_01 .til_scale{
    height: 29px;
    width: 28px;
    text-align: center;
}
.picshow .title .tit_r .tit_01 .tit_reduce{
    background:url(../../images/picShow/active_01.png) no-repeat center top;
    height: 29px;
    width: 28px;
    cursor: pointer;
}

.picshow .title .tit_02{
    color:#666666;
    font-size:13px;
    height:23px;
    line-height:15px;
    padding:8px 0px 0px 10px;
}
.picshow .title .tit_03{
    height:21px;
    line-height:21px;
    padding-left:5px;
    float:left;
}
.picshow .title .tit_03 img{
    float:left;
    cursor:pointer;
}
.picshow .title .tit_03 div{
    float:left;
    padding:0px 5px;
    color:#CCCCCC;
    font-size:12px;
}
.picshow .title .tit_03 div.msg_01{
    float:left;
    padding:0px 0px;
    background:url(../../images/picShow/msg_01.png) no-repeat center top;
    height: 21px;
    width: 19px;
    cursor: pointer;
}

.picshow .title .tit_03 div.msg_02{
    float:left;
    padding:0px 0px;
    background:url(../../images/picShow/msg_02.png) no-repeat center top;
    height: 21px;
    width: 20px;
    cursor: pointer;
}

.picshow .title .tit_03 div.msg_03{
    float:left;
    padding:0px 0px;
    background:url(../../images/picShow/msg_03.png) no-repeat center top;
    height: 21px;
    width: 20px;
    cursor: pointer;
}

.picshow .title .tit_03 div.msg_04{
    float:left;
    padding:0px 0px;
    background:url(../../images/picShow/msg_04.png) no-repeat center top;
    height: 21px;
    width: 20px;
    cursor: pointer;
}

.picshow .pic{
    position:relative;
    margin:0px 10px 10px 10px;
    width:868px;
    height:553px;
    overflow:hidden;
    text-align:center;
}

.picshow .pic .next{
    position:absolute;
    top: 0;
    right:0;
    z-index: 9803;
    width: 55px;
    height: 100%;
}
.picshow .pic .next:hover{
    cursor: pointer;
    background:url(../../images/picShow/next.png) no-repeat center center;
}
.picshow .pic .previous{
    position:absolute;
    top: 0;
    left:0;
    z-index: 9803;
    width: 55px;
    height: 100%;
}
.picshow .pic .pic_loading{
    position:absolute;
    top: 0;
    left:0;
    z-index: 9805;
    width: 100%;
    height: 100%;
    background:#000000;
    filter:alpha(opacity=30);
    opacity: 0.3;
    text-align: center;
    vertical-align: middle;
}

.picshow .pic .pic_loading .loading_img{
    background: url(../../images/picShow/o_loading.gif) no-repeat center center;
    width: 32px;
    height: 32px;
    width: 100%;
    height: 100%;
    margin:-16px 0px 0px -16px;
}

.picshow .pic .previous:hover{
    cursor: pointer;
    background:url(../../images/picShow/previous.png) no-repeat center center;
}

/*.picshow .pic .pic_content{*/
    /*position:absolute;*/
    /*cursor: pointer;*/
    /*top: 0;*/
    /*left:0;*/
    /*z-index: 9802;*/
    /*width: 718px;*/
    /*height: 721px;*/
/*}*/

/*.picshow .pic .pic_content img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.picshow .pic .pic_content{
    position:relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.picshow .pic .pic_content img{
    position:absolute;
    cursor: pointer;
    top: 0px;
    left:0px;
    z-index: 9802;
}

.picshow .pic .pic_content canvas{
    position:absolute;
    cursor: pointer;
    top: 0px;
    left:0px;
    z-index: 9802;
}

.nav_pic{width:100%;height:100%;top:0;left:0;position:fixed;z-index: 818181;}
.nav_pic_bg{width:100%;height:100%;top:0;left:0;filter: alpha(opacity=70);opacity: 0.7;background-color: #000000;}
.nav_loading{width:100%;height:100%;top:0;left:0;position:absolute;}
.nav_loading > div{background: url(../../images/picShow/o_loading.gif) no-repeat center center;width: 32px;height: 32px;top: 50%;left: 50%;position: absolute;margin:-16px 0px 0px -16px;}
.nav_pic_panel{width:100%;height:100%;top:0px;left:0px;position:absolute;overflow:hidden;}
.nav_no_pic{background: url(../../images/picShow/not_find.jpg) no-repeat center center;width: 868px;height: 553px;top: 50%;left: 50%;position: absolute;margin:-275.5px 0px 0px -434px;}
.nav_pic_prev{width:49px;height:109px;top:50%;left:0;position:absolute;margin: -54.5px 0px 0px 0px;cursor:pointer;background: url(../../images/picShow/nav_prev.png);}
.nav_pic_prev:hover{width:49px;height:109px;top:50%;left:0;position:absolute;margin: -54.5px 0px 0px 0px;cursor:pointer;background: url(../../images/picShow/nav_prev_hover.png);}
.nav_pic_next{width:49px;height:109px;top:50%;right:0;position:absolute;margin: -54.5px 0px 0px 0px;cursor:pointer;background: url(../../images/picShow/nav_next.png);}
.nav_pic_next:hover{width:49px;height:109px;top:50%;right:0;position:absolute;margin: -54.5px 0px 0px 0px;cursor:pointer;background: url(../../images/picShow/nav_next_hover.png);}
.nav_pic_not_prev{background: url(../../images/picShow/nav_prev.png) !important;}
.nav_pic_not_next{background: url(../../images/picShow/nav_next.png) !important;}