<div class="popWhite">
    <div class="css-content" m-custom-scrollbar>
        <span class="btn2" ng-click="vm.addTrend()">添加走势</span>
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr ng-repeat="n in vm.parentList track by $index">
                <td width="10%" ng-click="vm.delTrend(n)">删除</td>
                <td width="10%">{{n.name}}:</td>
                <td width="70">{{n.childrenNames}}</td>
                <td width="10%" ng-click="vm.editTrend(n)">编辑</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="popBottom">
        <span class="btn2" ng-click="vm.cancelOp()">关闭</span>
    </div>
</div>