<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=" 
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd" default-autowire="byName">
										<!-- default-autowire="byName"，约定优于配置，约定优于配置 -->
    <!-- 对api包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能  -->
    <context:component-scan base-package="com.skytech.**.api.**" />

    <!-- 会自动注册了validator  ConversionService  -->
    <mvc:annotation-driven validator="validator"  conversion-service="conversion-service">
        <mvc:message-converters>
            <bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="jacksonObjectMapper"/>
            </bean>
            <bean class="com.skytech.basic.core.web.UTF8StringHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，如果使用spring-mvc-3.0.xsd的话就需要重新设置 -->
	<!--<mvc:resources mapping="/img/**" location="/img/"/>
	<mvc:resources mapping="/platform/ScriptSource/**" location="/platform/ScriptSource/"/>
	<mvc:resources mapping="/css/**" location="/css/"/>
	<mvc:resources mapping="/html/**" location="/html/"/>-->

	<!-- 配置拦截器 -->
	<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--<bean class="com.skytech.config.interceptor.LoginInterceptor">-->
            <bean class="com.skytech.login.interceptor.LoginInterceptor">
                <!--白名单-->
                <property name="whitePath">
                    <list>
                        <value>/Login/OneNonce.do</value>
                        <value>/Login/AccessToken.do</value>
                        <value>/Login/LoginByUN.do</value>
                        <value>/Login/LogOut.do</value>
                        <value>/Login/ObtainLoginStatus.do</value>
                        <value>/Sys_attachfile/UploadFile.do</value>
                        <value>/Sys_attachfile/UploadFileByFtp.do</value>
                        <value>/Sys_attachfile/UploadFileAndSaveInfo.do</value>
                        <value>/Sys_attachfile/UploadFileToBlob.do</value>
                        <value>/notice/list</value>
                        <value>/Notice/ExportExcel</value>
                        <value>/Common/login/AccessToken.do</value>
                        <value>/AppApi/Login/OneNonce.do</value>
                        <value>/AppApi/Common/login/AccessToken.do</value>
                        <value>/process-api</value>
                    </list>
                </property>
                <!--白名单起始路径名，表示以该路径名开头的请求，等同于纳入白名单，替换#即可-->
                <property name="whitePath_Start">
                    <list>
                        <value>/AppApi</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
	


	 <!-- 以下 validator  ConversionService 在使用 mvc:annotation-driven 会 自动注册-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <!-- 请求参数转换器 -->
    <bean id="conversion-service" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"  >
        <property name="converters">
            <list>
                <!-- 增加一个 把空字符串转换为null的converter-->
                <bean class="com.skytech.basic.core.web.StringEmptyToNullConverter"></bean>
                <!-- 增加一个 把字符串绑定为日期的converter-->
                <bean class="com.skytech.basic.core.web.StringToDateConverter"></bean>
            </list>
        </property>
    </bean>

	<aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>

</beans>











